@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Type de Connection";
}
@{
    Layout = "~/Views/Shared/_ELayout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p>Choisissez votre rôle pour vous connecter :</p>
            <div class="d-grid gap-3">
                <a asp-controller="Account" asp-action="Login" asp-route-role="Professeur" class="btn btn-primary btn-lg">
                    Je suis un Professeur
                </a>
                <a asp-controller="Account" asp-action="Login" asp-route-role="Etudiant" class="btn btn-secondary btn-lg">
                    Je suis un Étudiant
                </a>
            </div>
        </div>
    </div>
</div>