@model Lecon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ELayout.cshtml";
}

<h1>Create</h1>

<h4>Lecon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <!-- Afficher les erreurs de validation -->
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contenu" class="control-label"></label>
                <input asp-for="Contenu" class="form-control" />
                <span asp-validation-for="Contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPage" class="control-label"></label>
                <input asp-for="NumeroPage" class="form-control" />
                <span asp-validation-for="NumeroPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursId" class="control-label"></label>
                <select asp-for="CoursId" class="form-control" asp-items="ViewBag.CoursId"></select>
                <span asp-validation-for="CoursId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}