@model Elearning_Test.Models.Admin

@{
    ViewData["Title"] = "Supprimer un Administrateur";
}

<h1>Êtes-vous sûr de vouloir supprimer cet administrateur ?</h1>

<div>
    <strong>@Model.Nom</strong>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Annuler</a>
</form>
